.sitebox {
  margin: auto;
  /* need to redo this centering bit after inserting svgs */
  width: 30%;
  padding-top: 20%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 15em);
  grid-auto-rows: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.links {
  color: black;
  transition: color 0.3s ease;
  text-decoration: none;
}

.links:hover {
  color: lightgray;
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.box2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.box1,
.box2 {
  font-size: 3.5rem;
  font-weight: 900;
}

.box3 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box4 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.box5 {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.box6 {
  grid-column-start: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
.box3,
.box4,
.box5,
.box6 {
  font-size: 1.85rem;
  font-weight: 900;
}
